body > main > article{
    width: 90%;
    margin: auto;
}
#logo {
    font-family: "Bebas Neue", sans-serif;
    background-color: rgba(185, 0, 0, 0.736);
    margin: 0px 0px;
    color: cornsilk;
}

body > header > nav > ul{
    list-style: none;
    text-decoration: none;
}
.navbutton {
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 0px 0px;
    color: rgba(185, 0, 0, 0.736)
}
h2{
    text-align: center;
}
form{
    text-align: center;
}

body > header{
    background-color: cornsilk
}

body > footer{
    background-color: cornsilk
}